/* Contact Section */
.contactWrapper {
	display: flex;
	flex-direction: row;
}

.iconContacts {
	margin-right: 3.125rem;
	cursor: pointer;
	color: var(--primary-color);
}

.iconContacts:hover {
	color: var(--on-background);
}
